.sidebar {
  width: 0px;
  overflow: auto;
  background-color: #2c3e50;
  color: #ecf0f1;
  height: calc(100vh - 72px);
  z-index: 1000;
  transition: all ease 0.2s;
}

.sidebar.show {
  width: 250px;
}

.sidebar .sidebar-link {
  display: block;
  margin-right: 0 !important;
  padding: 10px 20px;
  color: #ecf0f1;
  border-bottom: 1px solid #494949;
}

.sidebar .sidebar-link:hover {
  background-color: #34495e;
}
.sidebar .sidebar-link.active {
  background-color: #303030;
}

@media (max-width: 991px) {
  .sidebar {
    position: absolute;
  }
}
